<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mi</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/favicon.png">
</head>

<body class="body2">

<div class="contenedorPadre2">
    <div class="contenedorFlex2">

        <header class="header2">
            <h2 class="header2__title">¿Cómo comenzó AEGINA?</h2>

        </header>

        <main class="main2">
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda pariatur nulla officia asperiores porro eveniet laboriosam eaque, distinctio ratione obcaecati consectetur reprehenderit eum accusantium sint nam. Magni dolorum ab rerum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni saepe dolores adipisci odio numquam neque architecto provident cumque aliquam repudiandae optio quia deleniti libero quae vel, minus omnis. Cum, dolor.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni saepe dolores adipisci odio numquam neque architecto provident cumque aliquam repudiandae optio quia deleniti libero quae vel, minus omnis. Cum, dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex aliquid eveniet consequatur veritatis ad sint itaque, tempore necessitatibus assumenda sapiente ut nam quam commodi iste totam provident possimus. Ex, tenetur..</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni saepe dolores adipisci odio numquam neque architecto provident cumque aliquam repudiandae optio quia deleniti libero quae vel, minus omnis. Cum, dolor Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus odit aperiam quidem minus eius in cumque praesentium, vel expedita corporis error cum inventore recusandae, neque eum. Sequi, a. Quibusdam, praesentium. .</p>

        </main>        

        <footer class="footer2">
            <picture>
                <img class="picture2__img" src="../img/Acerca-de-mi/footer2.svg">
            </picture>

        </footer>
    </div>
</div>


</body>

</html>