<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Como comenzó Aegina y su pasión por confeccionar tocados de piedras y flores preservadas">
    <meta name="keywords" content="conocenos, historia, comienzo, marca">
    <title>Aegina - Conoce como comenzó esta idea de hacer tocados</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/favicon.png">
</head>

<body class="body2">

<div class="contenedorPadre2">
    
    <div class="contenedorFlex2">

        <header class="header2">
            <ul class="aside__menu2">
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../views/acerca_de_mi.html">Acerca de mi</a></li>
                <li><a href="../views/galeria.html">Galería</a></li>
                <li><a href="../views/flores_preservadas.html">Flores preservadas</a></li>                
                <li><a href="../views/pedreria.html">Pedrería</a></li>                
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
            <h2 class="header2__title">¿Cómo comenzó AEGINA?</h2>

        </header>

        <main class="main2">
            <p>Hola!! Hoy quería contarles un poquito quien soy yo y como es que estoy aquí. Mi nombre es Josefina, Jopi, tengo 30 años y dos lindisimas hijitas. Soy Lic. en RRPP y desde hace un par de años maquilladora y peinadora</p>
            <p>Hace algunos años mi abuela me enseñó a hacer tocados de flores naturales, ella se dedicaba a eso cuando era joven, y luego en mi primer embarazo me picaron las ganas de aprender a hacer esto. Aunque la maternidad primeriza me tuvo 100% con la atención en mi bebita y decidí posponerlo</p>
            <p>2020: cuarentena en casa y nuevamente embarazada, aproveche la oportunidad para finalmente aprender de las mejores y lanzarme de cabeza. Así que acá estoy. Compartiendo con ustedes este pequeño mundo que me encanta y que espero a ustedes también!</p>

        </main>        

        <footer class="footer2">
            <picture>
                <img class="picture2__img" src="../img/acerca_de_mi/aegina_logo.svg" alt="logo de aegina head pieces">
            </picture>

        </footer>

        <div class="copyright2">
            <p>Copyright AEGINA 2022 - Todos los derechos reservados</p>
        </div>

    </div>
</div>


</body>

</html>