<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="contactanos y contanos que tipo de tocado te gustaría, que nosotros te ayudamos a elegirlo o lo confeccionamos a tu gusto">
    <meta name="keywords" content="contacto, asesoramiento, encargos">
    <title>Aegina - Contanos el tipo de tocado que querés y nosotros lo hacemos.</title>
    <link rel="stylesheet" href="../css/main.css">    
    <link rel="icon" href="../img/favicon.png">

</head>

<body class="body6">

    <div class="contenedorFlex6">
    
    <header class="header6">
        <a href="../../index.html"><img class="header6__home" src="../img/contacto/home.png" alt="imagen casa"></a>
        <h2 class="header6__title">Dejanos tus datos y te respondemos!</h2>
    </header>

    <main class="main6">
        <form class="main__form">
            <label for="nombre">Nombre</label>
            <input type="text" placeholder="escribe tu nombre" name="nombre">
            <label for="apellido">Apellido</label>
            <input type="text" placeholder="escribe tu apellido" name="apellido">
            <label for="sexo">Sexo</label>
            <input type="radio" name="sexo" value="hombre">
            <label>Hombre</label>
            <input type="radio" name="sexo" value="mujer">
            <label>Mujer</label>
            <input type="radio" name="sexo" value="otro">
            <label>Otro</label>
            <label>Fecha de nacimiento</label>
            <input type="date" name="date">
            <label for="email">Correo electrónico</label>
            <input type="email" placeholder="ingrese su correo electrónico" name="email">
            <label for="checkbox">¿Cómo conocistes Aegina?</label>
            <input type="checkbox" name="checkbox">
            <label>Por Instagram</label>
            <input type="checkbox" name="checkbox">
            <label>Por recomendación</label>
            <input type="checkbox" name="checkbox">
            <label>Otro</label>
            <textarea name="textarea" placeholder="Escribí tu consulta" cols="25" rows="8"></textarea>
            <input type="reset" name="reset">
            <input type="submit" name="submit">
        </form>
    </main>
    <p class="copyright6">Copyright AEGINA 2022 - Todos los derechos reservados</p>
    
</div>

</body>

</html>