<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/favicon.png">
</head>

<body class="body3">

    <header class="header3">
        <h2 class="header3__title">ESTOS SON ALGUNOS DE MIS TOCADOS FAVORITOS</h2>
    </header>

    <main class="main3">

        <picture class="picture3">
            <img class="picture3__img1" src="../img/galeria/img-galeria1.svg" alt="Fotografía">
            <img class="picture3__img2" src="../img/galeria/img-galeria2.svg" alt="Fotografía">
            <img class="picture3__img3" src="../img/galeria/img-galeria3.svg" alt="Fotografía">
            <img class="picture3__img2" src="../img/galeria/img-galeria2.svg" alt="Fotografía">
            <img class="picture3__img3" src="../img/galeria/img-galeria3.svg" alt="Fotografía">
            <img class="picture3__img1" src="../img/galeria/img-galeria1.svg" alt="Fotografía">
            <img class="picture3__img1" src="../img/galeria/img-galeria1.svg" alt="Fotografía">
            <img class="picture3__img3" src="../img/galeria/img-galeria3.svg" alt="Fotografía">
            <img class="picture3__img2" src="../img/galeria/img-galeria2.svg" alt="Fotografía">

        </picture>

    </main>


</body>

</html>