<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Galería de tocados confeccionados a medida para clientes">
    <meta name="keywords" content=" Aegina, tocados de piedra, tocados de flores preservadas, ramos de novias, boutoniers, tocados de porcelana fria, coronas, vinchas, guias, pins">
    <title>Aegina - Galería de fotos de tocados</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/favicon.png">
</head>

<body class="body3">

    <header class="header3">
        <ul class="aside__menu3">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../views/acerca_de_mi.html">Acerca de mi</a></li>
            <li><a href="../views/galeria.html">Galería</a></li>
            <li><a href="../views/flores_preservadas.html">Flores preservadas</a></li>                
            <li><a href="../views/pedreria.html">Pedrería</a></li>                
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
        <h2 class="header3__title">ESTOS SON ALGUNOS DE MIS TOCADOS FAVORITOS</h2>
    </header>

    <main class="main3">

        <picture class="picture3">
            <img class="picture3__img7" src="../img/galeria/tocado_lateral.svg" alt="tocado de piedras lateral">
            <img class="picture3__img1" src="../img/galeria/corona_de_flores.svg" alt="niña con corona de flores">
            <img class="picture3__img4" src="../img/galeria/corona_de_flores_niña.svg" alt="niña con corona de flores">
            <img class="picture3__img3" src="../img/galeria/corona_de_piedras.svg" alt="mujer con corona de piedras">
            <img class="picture3__img1" src="../img/galeria/corona_de_flores.svg" alt="niña con corona de flores">
            <img class="picture3__img6" src="../img/galeria/tocado_en_sombrero.svg" alt="tocado en sombrero">
            <img class="picture3__img5" src="../img/galeria/tocado_de_flores.svg" alt="tocado de flores">
            <img class="picture3__img2" src="../img/galeria/corona_de_flores2.svg" alt="niña con corona de flores">
            <img class="picture3__img3" src="../img/galeria/corona_de_piedras.svg" alt="mujer con corona de piedras">
            <img class="picture3__img1" src="../img/galeria/corona_de_flores.svg" alt="niña con corona de flores">            
            <img class="picture3__img3" src="../img/galeria/corona_de_piedras.svg" alt="mujer con corona de piedras">            
            <img class="picture3__img4" src="../img/galeria/corona_de_flores_niña.svg" alt="niña con corona de flores">
            <img class="picture3__img7" src="../img/galeria/tocado_lateral.svg" alt="tocado de piedras lateral">            
            
        </picture>

    </main>

    <footer class="copyright3">
        <p>Copyright AEGINA 2022 - Todos los derechos reservados</p>
    </footer>


</body>

</html>