<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedrería</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <main class="main5">
        <h2>TOCADOS</h2>
        <table cellspacing="10px">
            <tr class="main4__tr">
                <td>imagen</td>
                <td>imagen</td>
                <td>imagen</td>
                <td>imagen</td>
                <td>imagen</td>
            </tr>
        </table>
        <h2>CORONAS</h2>
        <table cellspacing="10px">
            <tr class="main4__tr">
                <td>imagen</td>
                <td>imagen</td>
                <td>imagen</td>
                <td>imagen</td>
                <td>imagen</td>
            </tr>
        </table>
        <h2>MEDIAS CORONAS</h2>
        <table cellspacing="10px">
            <tr class="main5__tr">
                <td>imagen</td>
                <td>imagen</td>
                <td>imagen</td>
                <td>imagen</td>
                <td>imagen</td>
            </tr>
        </table>
    </main>
    
</body>
</html>