html {
  font-size: 62.5%; }

/* GLOBALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-decoration: none; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* ARCHIVO HTML INDEX */
body {
  background-color: #ddddc5; }

/* CONTENEDOR GRID */
.contenedorGrid {
  display: grid;
  grid-template-columns: 172px repeat(3, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header header header" "aside main   main main" "aside main   main main" "aside footer footer footer" "aside copyright copyright copyright"; }

/* HEADER */
.headerIndex {
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(54, 121, 114, 0.789);
  width: 100%; }
  .headerIndex .header__logo {
    height: 15rem;
    margin: 0.7rem;
    margin-bottom: 2%; }

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.796);
  margin-left: 8%; }
  .titleContent .header__titulo {
    font-size: 6rem;
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 1rem; }
  .titleContent .header__subtitle {
    font-style: italic;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    font-weight: lighter;
    margin-right: 1rem; }

.header__slogan {
  font-style: italic;
  margin-right: 1%;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.849); }

/* ASIDE MENU */
aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(54, 121, 114, 0.789);
  height: 39rem;
  width: 17.2rem; }
  aside h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.796); }

.aside__menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .aside__menu li {
    display: flex;
    flex-flow: column, wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    margin: 0.7rem; }
  .aside__menu a {
    font-family: 'Source Serif Pro', serif;
    color: rgba(255, 255, 255, 0.884); }
    .aside__menu a:hover {
      text-decoration: underline; }

/* MAIN */
.main {
  grid-area: main;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-top: 1%;
  height: auto; }
  .main__img1, .main__img2, .main__img3 {
    height: 38rem;
    width: 38rem; }

/* FOOTER */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  height: 2rem;
  margin-top: 2rem; }
  footer__intagram, footer__whatsapp, footer__email, footer__ubicacion {
    font-family: 'Source Serif Pro', serif;
    border-bottom: solid black 0.1rem; }
  footer a {
    font-family: "Source Serif Pro", serif;
    color: black; }
  footer a:hover {
    text-decoration: underline; }

.copyright, .copyright6, .copyright5, .copyright4, .copyright3, .copyright2 {
  grid-area: copyright;
  display: flex;
  flex-flow: row, wrap;
  justify-content: center;
  margin-top: 5%;
  text-align: center; }

/* INDEX MOBILE */
@media screen and (max-width: 1311px) {
  .main__img1, .main__img2, .main__img3 {
    width: 33rem; }
  .footer {
    justify-content: space-between; } }

@media screen and (max-width: 1165px) {
  .main__img1 {
    display: none; }
  .main__img2, .main__img3 {
    width: 38rem;
    justify-content: center; } }

@media screen and (max-width: 933px) {
  .contenedorGrid {
    display: grid;
    grid-template-areas: "header header header header" "aside aside aside aside" "main main   main main" "footer footer footer footer" "copyright copyright copyright copyright"; }
  .headerIndex {
    justify-content: center; }
  .titleContent {
    margin-left: 0%;
    margin-bottom: 3%;
    margin-top: 1%; }
  .header__slogan {
    display: none; }
  .header__logo {
    display: none; }
  .aside {
    width: 100%;
    height: auto;
    flex-direction: row; }
    .aside h2 {
      display: none; }
    .aside .aside__menu {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      border: solid 0.1rem rgba(255, 255, 255, 0.796); } }

@media screen and (max-width: 933px) and (max-width: 759px) {
  .main__img3 {
    display: none; }
  .main__img2 {
    width: 43rem; } }

@media screen and (max-width: 933px) and (max-width: 429px) {
  html {
    font-size: 58%; }
  .main__img2 {
    width: 37rem; } }

.body6 {
  display: flex;
  justify-content: center;
  background-color: #ddddc5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100%; }

.contenedorFlex6 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 60rem;
  height: auto;
  background-image: url(../img/contacto/tocado_de_flores.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 0.1rem #367972c9;
  border-radius: 3%; }

.header6 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center; }
  .header6__title {
    font-family: 'Source Serif Pro', serif;
    font-size: 3rem;
    font-weight: bolder;
    color: #367972c9;
    background-color: #ddddc5;
    margin-top: 3%;
    margin-bottom: 5%; }

.main6 {
  margin-bottom: 2rem; }

.main__form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: solid 0.1rem #367972c9; }
  .main__form label {
    width: 35rem; }

.copyright6 {
  height: 2rem;
  margin-top: 3rem;
  margin-left: 0%;
  width: auto; }

@media screen and (max-width: 500px) {
  .contenedorFlex6 {
    width: auto; } }

.body5 {
  background-color: rgba(109, 104, 99, 0.823); }

.header5 {
  background-color: #367972c9;
  border: solid whitesmoke 0.2rem;
  text-align: center; }
  .header5 h2 {
    color: rgba(255, 255, 255, 0.796);
    font-family: "Source Serif Pro", serif;
    margin: 0.5%;
    font-size: 1.8rem; }

.main5 {
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .main5__titles {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%; }
  .main5 .main5__titles h3 {
    width: 100%;
    height: auto;
    font-family: "Source Serif Pro", serif;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.796);
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 0%; }

div.card {
  background-color: rgba(255, 255, 255, 0.796); }

h5.card-title {
  font-family: "Source Serif Pro", serif;
  color: #948181;
  text-decoration: underline; }

p.card-text {
  font-family: "Source Serif Pro", serif;
  color: #948181; }

a.btn.btn-primary {
  font-family: "Source Serif Pro", serif;
  color: rgba(255, 255, 255, 0.796); }

.copyright5 {
  margin-left: 0%;
  margin-right: 0%; }

.body4 {
  background-color: rgba(182, 162, 80, 0.59); }

.header4 {
  background-color: #367972c9;
  border: solid whitesmoke 0.2rem;
  text-align: center; }
  .header4 h2 {
    width: 100%;
    color: rgba(255, 255, 255, 0.796);
    font-family: "Source Serif Pro", serif;
    margin: 0.5%;
    font-size: 1.8rem; }

.main4 {
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .main4__titles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%; }

.main4__titles h3 {
  font-family: "Source Serif Pro", serif;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.796);
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin: 0%; }

div.card {
  background-color: rgba(255, 255, 255, 0.796); }

h5.card-title {
  font-family: "Source Serif Pro", serif;
  color: #948181;
  text-decoration: underline; }

p.card-text {
  font-family: "Source Serif Pro", serif;
  color: #948181; }

a.btn.btn-primary {
  font-family: "Source Serif Pro", serif;
  color: rgba(255, 255, 255, 0.796); }

.copyright4 {
  margin-left: 0%; }

.body3 {
  background-color: rgba(49, 48, 47, 0.624); }

.header3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #367972c9;
  border: solid rgba(255, 255, 255, 0.796) 0.1rem;
  margin-bottom: 1rem; }
  .header3__title {
    text-align: center;
    font-family: "Source Serif Pro", serif;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.796);
    margin-top: 2rem;
    margin-bottom: 2rem;
    word-spacing: 0.3rem; }

.main3 {
  width: 100%; }

.picture3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .picture3__img1, .picture3__img2, .picture3__img3 {
    align-items: center;
    border: solid 0.2rem rgba(255, 255, 255, 0.796);
    margin: 1rem; }

.copyright3 {
  margin-left: 0%;
  width: auto;
  margin-bottom: 1%; }

/*  ARCHIVO HTML 2 (ACERCA DE MI) */
.body2 {
  background-color: #367972c9; }

.contenedorPadre2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.contenedorFlex2 {
  width: 80rem;
  height: 95rem;
  border: solid 0.1rem burlywood;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2017/03/13/11/44/island-2139457_960_720.jpg);
  background-size: cover;
  margin-right: 2vw;
  margin-left: 2vw; }

.header2 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header2__title {
    font-family: "Source Serif Pro", serif;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.796);
    margin-top: 0.5rem;
    padding: 1rem; }

.main2 {
  border: solid 0.1rem burlywood;
  height: 50rem;
  width: 45rem;
  padding: 1rem; }
  .main2 p {
    margin-top: 6vh;
    color: #f2ebc1; }

.footer2 {
  height: auto;
  margin-left: 0rem;
  margin-top: 1.7rem;
  justify-content: center;
  width: 280px; }

.picture2__img {
  border: solid 0.1rem #a79d91;
  width: 280px;
  height: 280px; }

/* ACERCA DE MI MOBILE */
@media screen and (max-width: 1000px) {
  .footer2 {
    width: 300px;
    align-items: center; }
  .picture2__img {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 456px) {
  html {
    font-size: 58%; }
  .contenedorFlex2 {
    height: 100%; }
  .header2__title {
    text-align: center; }
  .main2 {
    width: auto;
    text-align: center; }
  .main__img2 {
    width: 37rem; } }
