/* html {
    font-size: 62.5%;
} */

/* GLOBALS */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
} */


/* VARIABLES */

/* :root {
    $background-verde: rgba(54, 121, 114, 0.789);
    $body-background: rgb(221, 221, 197);
    $font-principal: 'Source Serif Pro', serif;
    $letra-blanca: rgba(255, 255, 255, 0.796);
} */

/* ARCHIVO HTML INDEX */

/* body {
    background-color: $body-background;
    
} */

/* CONTENEDOR GRID */

/* .contenedorGrid {
    display: grid;
    grid-template-areas: "header header header"
        "aside main   main"
        "aside main   main"
        "footer footer footer";


} */

/* HEADER */

/* .headerIndex {
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(54, 121, 114, 0.789);
    width: 100%;

} */

/* .header__logo {
    height: 15rem;    
    margin-left: 0.5rem;
    padding: 0.5rem;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: 1;    
} */
/* @keyframes rotate {
   from {transform:rotate(0deg);}
   to {transform: rotate(360deg);}

}  */

/* .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.796);
    margin-left: 15rem;
    transition: color, 1s;
    
} */

/* .titleContent:hover {
    color:purple;
} */

/* .header__titulo {
    font-size: 6rem;
    font-family: 'Source Serif Pro', serif;
    letter-spacing: 1rem;

} */

/* .header__subtitle {
    font-style: italic;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    font-weight: lighter;
    margin-right: 1rem;

} */

/* .header__slogan {
    font-style: italic;
    margin-right: 3vw;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.849);
    transform: rotate(15deg);
    transition: rotate, 2s;

}
.header__slogan:hover {
    transform: rotate(0deg);
} */


/* ASIDE MENU */

/* aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgba(54, 121, 114, 0.789);


} */

/* aside>h2 {
    font-family: 'Source Serif Pro', serif;
    text-decoration: underline;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.884);
} */

/* .aside__menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Serif Pro', serif;
    margin: 0.7rem;
}

.aside__menu a {
    font-family: 'Source Serif Pro', serif;
    color: rgba(255, 255, 255, 0.884);

} */

/* MAIN */

/* main {
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
    height: 11.4rem;


} */

/* .main__img1,
.main__img2,
.main__img3 {
    height: 38rem;
    width: 38rem;
    margin-right: 0.3rem;


} */

/* FOOTER */

/* footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90rem;
    height: 2rem;
    margin-top: 2rem;
    margin-left: 24rem;

} */

/* .footer__intagram,
.footer__whatsapp,
.footer__email,
.footer__ubicacion {
    font-family: 'Source Serif Pro', serif;    
    border-bottom: solid black 0.1rem;
    margin-right: 1vw;
    transition: border;
} */

/* footer a {
    font-family: $font-principal;
    color: black;    

}
.footer a:hover {      
    color: $letra-blanca;
    background-color: $background-verde;
} */

/* .footer__intagram:hover,
.footer__whatsapp:hover,
.footer__email:hover,
.footer__ubicacion:hover {
    border: none;
} */



/* .copyright {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 8rem;
} */

/*  ARCHIVO HTML 2 (ACERCA DE MI) */

/* .body2 {
    background-color: $background-verde
} */

/* .contenedorPadre2 {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
} */

/* .contenedorFlex2 {
    width: 80rem;
    height: 95rem;
    border: solid 0.1rem burlywood;
    display: flex;
    flex-direction: column;    
    align-items: center;    
    background-image: url(https://www.marinareservation.com/articles/wp-content/uploads/2016/06/Santorini-Greece-res.jpg);
    background-size: cover;
    margin-right: 2vw;
    margin-left: 2vw;


} */

/* .header2,
.header2__title {    
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.659);
    margin-top: 0.5rem;
    padding: 1rem;
} */


/* .main2 {
    align-items: center;
    border: solid 0.1rem burlywood;
    height: 50rem;
    width: 45rem;
    font-family: 'Caveat', cursive;
    color: rgba(255, 255, 255, 0.618);
    padding: 1rem;

} */

/* .footer2 {    
    height: auto;
    margin-left: 0rem;
    margin-top: 1.7rem;
    justify-content: center;
    width:280px;
    
    

} */

/* .picture2__img {
    border: solid 0.1rem rgb(167, 157, 145);
    width: 280px;
    height: 280px;

} */


/* ARCHIVO HTML 3 (GALERÍA) */

/* .body3 {    
    background-color: rgba(49, 48, 47, 0.624);
} */

/* .header3 { 
    width: 100%; 
    display: flex;
    flex-direction: row;    
    justify-content: center;
    background-color: $background-verde;
    border: solid $letra-blanca 0.1rem;

} */

/* .header3__title {
    text-align: center;    
    font-family: $font-principal;
    font-size: 2.5rem;
    color: $letra-blanca;
    margin-top: 2rem;
    margin-bottom: 2rem;
    word-spacing: 0.3rem;    

} */

/* .main3 {
    width: 100%;
} */


/* .picture3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
        

} */

/* .picture3__img1,
.picture3__img2,
.picture3__img3 {
    align-items: center;
    margin: 0.5rem;
    border: solid 0.2rem $letra-blanca;
} */



/* ARCHIVO HTML 4 (FLORES PRESERVADAS) */

/* .body4 {
    background-color: rgba(182, 162, 80, 0.59);
} */

/* .header4 {   
    background-color: $background-verde;
    border: solid whitesmoke 0.2rem;

} */

/* .header4 h2 {    
    color: $letra-blanca;
    font-family: $font-principal;
    margin: 0.5%;
    font-size: 1.8rem;
       
} */

/* .main4 {
    height: auto;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;   
} */

/* .main4__titles {
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;    
    
} */
/* .main4__titles h2 {
    font-family: $font-principal;
    text-decoration: underline;       
    color: $letra-blanca;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 0%;
} */


/* div.card {
    background-color: $letra-blanca;
    
} */

/* h5.card-title {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
    text-decoration: underline;
}

p.card-text {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
}

a.btn.btn-primary {
    font-family: $font-principal;
    color: $letra-blanca;
} */



/* ARCHIVO HTML 5 (PEDRERÍA) */

/* .body5 {
    background-color: rgba(109, 104, 99, 0.823);
}

.header5 {   
    background-color: $background-verde;
    border: solid whitesmoke 0.2rem;

}

.header5 h2 {    
    color: $letra-blanca;
    font-family: $font-principal;
    margin: 0.5%;
    font-size: 1.8rem;
       
}

.main5 {
    height: auto;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.main5__titles {
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;    
    
}
.main5__titles h2 {
    font-family: $font-principal;
    text-decoration: underline;       
    color: $letra-blanca;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 0%;
} */


/* div.card {
    background-color: $letra-blanca;
    
} */

/* h5.card-title {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
    text-decoration: underline;
} */

/* p.card-text {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
}

a.btn.btn-primary {
    font-family: $font-principal;
    color: $letra-blanca;
} */



/* ARCHIVO HTML 6 (CONTACTO) */

/* .body6 {
    display: flex;
    justify-content: center;
    background-color: rgba(79, 79, 70, 0.734);
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: radial-gradient(gray , purple);
} */


/* .contenedorFlex6 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 60rem;
    height: 70rem;    
    background-image: url(../img/contacto/contacto-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 0.1rem rgba(79, 79, 70, 0.734);
    border-radius: 3%;
} */

/* .header6 {    
    height: auto;
}

.header6__title {
    font-family: 'Source Serif Pro', serif;
    font-size: 3rem;
    height: 10rem;
    color: rgb(101, 150, 165);
    text-decoration: underline;
    font-style: italic;
    margin-top: 1rem;

} */

/* .main6 {
    margin-bottom: 2rem;    
  
}

.main__form {        
    font-family: 'Source Serif Pro', serif;
    color: rgb(101, 150, 165);
    font-style: italic;
    border: solid 0.1rem rgb(101, 150, 165);
    

} */

/* MEDIA QUERIES MOBILE 412 X 914 */

/* INDEX MOBILE */

/* @media screen and (max-width: 1365px) {

    html {
        font-size: 55%;
    }

    .header__logo {
        margin-left: 6rem;
    }
    
    .main {
        height: 350px;
        align-items: center;

    }
    
    .main__img1,
    .main__img2,
    .main__img3 {
        height: 30rem;
        width: 30rem;
        margin-left: 3rem;
        margin-right: 0%;
        
    }
   

    .footer__email, .footer__intagram,
    .footer__ubicacion, .footer__whatsapp {
        margin: 0%;
    }

    
}

@media screen and (max-width: 1179px) {


    .main__img1,
    .main__img2,
    .main__img3 {
        height: 30rem;
        width: 30rem;
        margin-left: 3rem;
    }
    .main__img3 {
        display: none;
    }
   
        
   


}

@media screen and (max-width:1050px) {

    .main__img3 {
        display: none;
    }

}

@media screen and (max-width:995px) {

    .header__logo {
        margin-left: 4rem;
    }


    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height: auto;
        margin-top: 2rem;
        margin-left: 4rem;

    }

    .footer__intagram,
    .footer__whatsapp,
    .footer__email,
    .footer__ubicacion {
        font-family: 'Source Serif Pro', serif;
        border-bottom: none;
        text-decoration: underline;
        margin-top: 1rem;
        margin-left: 4rem;

    }

}

@media screen and (max-width:893px) {


    .headerIndex {
        width: 100%;
        justify-content: flex-start;

    }

    .header__slogan {
        font-style: italic;
        margin-right: 3vw;
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.849);
        display: none;

    }

    .header__logo {
        height: 15rem;
        margin-left: 4rem;
        padding: 0.5rem;

    }


    .main__img1,
    .main__img3 {
        height: 28rem;
        width: 28rem;
        display: none;

    }

    .main__img2 {
        width: 40rem;
        height: 41rem;
        margin-left: 4rem;

    }

    main {
        grid-area: main;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        width: 50rem;


    }

    .footer {
        width: 50rem
    }



@media screen and (max-width:716px) {

    .header__logo {
        margin-left: 0.1rem;
        width: 130px;
        height: auto;
    }

        aside {
            width: auto;
        }

        .aside__menu {
            width: 10px;
        }



        .footer {
            width: 300px;
            margin-left:0%;
        }

        .footer__email, .footer__intagram,
        .footer__ubicacion, .footer__whatsapp {
            margin-left: 1.5rem;
        }


    }

@media screen and (max-width:622px) {

    html {
        font-size: 45%;
    }

    .header__logo {
        width: 117px;
        height: auto;
    }

    .main__img2 {
        width: 43rem
    }

    .aside {
        width: 15rem
    }

    .footer__email, .footer__intagram,
    .footer__ubicacion, .footer__whatsapp {
        margin-left: 3.5rem;
    }

    .copyright {
        justify-content: center;
    }
     
}


@media screen and (max-width: 412px) {

    html {
        font-size: 40%;
    }


    .headerIndex {
        justify-content: flex-start;
        flex-wrap: nowrap;            
            
    }

    .header__logo {
        width: 100px;
        height: auto;
        margin: 0%;
        padding: 0%;
    }

    .titleContent {           
        margin-right: 14rem;
        margin-left: 7rem;
    }

    .main__img2 {
        margin: 0%;
        width:100%;
        height: auto;
    }

    .copyright {
        width: 50rem;
        margin-top: 1rem;
        margin-left: 10rem;
        justify-content: flex-end;
        
    }

    .aside__menu a {
        text-align: center;
    }


} */

/* ACERCA DE MI MOBILE */

/* @media screen and (max-width: 1000px) { */
    /* El cambio me lo hace a los 893 aprox no se porque */

    /* .footer2 {
        width:300px;        
        align-items: center;
    }

    .picture2__img {
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width: 752px) {

    .body2 {
        background: none;
    }

    .contenedorPadre2 {
        background-image: url(https://www.marinareservation.com/articles/wp-content/uploads/2016/06/Santorini-Greece-res.jpg);
        border: solid 0.1rem gray;
       

    }
    
    .contenedorFlex2 {
        margin: 0%;
        background-image: none;
        border: none;        
 
    }

    .header2 h2 {
        color: rgba(128, 128, 128, 0.844);
    }

    .main2 {
        width: 100%;        
        color: rgb(128, 128, 128);
        font-weight: 700;
        border: solid 0.1rem gray;
        margin: 0%;
    }

    .picture2__img {
        border-radius: 50%;
        width: 250px;
        height: auto;
        
    }
}

@media screen and (max-width:430px) {
    .contenedorPadre2 {
        height: 658px;
    }
}



} */