/*  ARCHIVO HTML 2 (ACERCA DE MI) */
.body2 {
    background-color: $background-verde
}

.contenedorPadre2 {   
    @include flex();    
    
}

.contenedorFlex2 {
    width: 80rem;
    height: 95rem;
    border: solid 0.1rem burlywood;    
    @include flex($direction: column);  
    background-image: url(https://cdn.pixabay.com/photo/2017/03/13/11/44/island-2139457_960_720.jpg);
    background-size: cover;
    margin-right: 2vw;
    margin-left: 2vw;

}

.header2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {    
        font-family: $font-principal;
        font-size: 4rem;
        color: $letra-blanca;
        margin-top: 0.5rem;
        padding: 1rem;
    }
}

.main2 {   
    border: solid 0.1rem burlywood;
    height: 50rem;
    width: 45rem;      
    padding: 1rem;

    p {
        margin-top: 6vh;
        color: rgb(242, 235, 193);             
     
    }
   

}

.footer2 {    
    height: auto;
    margin-left: 0rem;
    margin-top: 1.7rem;
    justify-content: center;
    width:280px; 

}

.picture2__img {
    border: solid 0.1rem rgb(167, 157, 145);
    width: 280px;
    height: 280px;

}

.copyright2 {
    @extend .copyright;
     
}

/* ACERCA DE MI MOBILE */

@media screen and (max-width: 1000px) {    

    .footer2 {
        width:300px;        
        align-items: center;
    }

    .picture2__img {
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width:456px) {

    html {
        font-size: 58%;
    }

    .contenedorFlex2 {
        height: 100%;
    }

    .header2__title {
        text-align: center;
    }

     .main2 {
        width: auto;
        text-align: center;
    }

    .main__img2 {
        width: 37rem;
    }

}

