/*  ARCHIVO HTML 2 (ACERCA DE MI) */
.body2 {
    background-color: $background-verde
}

.contenedorPadre2 {   
    @include flex();    
    
}

.contenedorFlex2 {
    width: 80rem;    
    border: solid 0.1rem burlywood;    
    @include flex($direction: column);  
    background-image: url(https://cdn.pixabay.com/photo/2017/03/13/11/44/island-2139457_960_720.jpg);
    background-size: cover;
    margin-right: 2vw;
    margin-left: 2vw;

}

.header2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {    
        font-family: $font-principal;
        font-size: 4rem;
        color: $letra-blanca;
        margin-top: 1rem;
        padding: 1rem;
        margin-bottom: 1rem;        
    }

    .aside__menu2 {
        width: 100%;
        height: auto;
        padding: 2%;
        background-color: $background-verde;
        border: solid 0.1rem $body-background;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        

        a {
            font-family: 'Source Serif Pro', serif;
            color: rgba(255, 255, 255, 0.884);
            
            &:hover {
                text-decoration: underline;
            }        
        }
    }
}

.main2 {   
    border: solid 0.1rem burlywood;
    height: 50rem;
    width: 45rem;      
    padding: 1rem;
    

    &:hover{
        background-color: #367972df;
                
    }

    p {
        margin-top: 6vh;
        color: rgb(242, 235, 193);
                   
     
    }   

}

.footer2 {    
    height: auto;
    margin-left: 0rem;
    margin-top: 1.7rem;
    justify-content: center;
    width:280px; 

}

.picture2__img {
    border: solid 0.1rem rgb(167, 157, 145);
    width: 280px;
    height: 280px;

}

.copyright2 {
    @extend .copyright;
     
}

/* ACERCA DE MI MOBILE */

@media screen and (max-width: 1000px) {
    
    .header2__title {
        text-align: center;
    }

    .footer2 {
        width:300px;        
        align-items: center;
    }

    .picture2__img {
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width:456px) {

    html {
        font-size: 58%;
    }

    .contenedorFlex2 {
        height: 100%;

        .aside__menu2 {
            flex-flow: column nowrap;
            align-items: center;
            
            li {
                margin: 1%;
            }
        }
    }
    
   
    .main2 {
        width: auto;
        text-align:center;                
    }

    .main__img2 {
        width: 37rem;
    }  
 
}

@media screen and (max-width:379px) {
    
    .header2__title {
        font-size: 3.3rem;
    }

}

