/*  ARCHIVO HTML 2 (ACERCA DE MI) */
.body2 {
    background-color: $background-verde
}

.contenedorPadre2 {   
    @include flex();    
    
}

.contenedorFlex2 {
    width: 80rem;
    height: 95rem;
    border: solid 0.1rem burlywood;    
    @include flex($direction: column);  
    background-image: url(https://cdn.pixabay.com/photo/2017/03/13/11/44/island-2139457_960_720.jpg);
    background-size: cover;
    margin-right: 2vw;
    margin-left: 2vw;

}

.header2,
.header2__title {    
    font-family: $font-principal;
    font-size: 3rem;
    color: $letra-blanca;
    margin-top: 0.5rem;
    padding: 1rem;
}

.main2 {    
    border: solid 0.1rem burlywood;
    height: 50rem;
    width: 45rem;
    font-family: 'Caveat', cursive;
    color: rgba(255, 255, 255, 0.638);
    padding: 1rem;

    p {
        margin-top: 6vh;
        color: $letra-blanca;        
     
    }
   

}

.footer2 {    
    height: auto;
    margin-left: 0rem;
    margin-top: 1.7rem;
    justify-content: center;
    width:280px; 

}

.picture2__img {
    border: solid 0.1rem rgb(167, 157, 145);
    width: 280px;
    height: 280px;

}

.copyright2 {
    @extend .copyright;
     
}

/* ACERCA DE MI MOBILE */

@media screen and (max-width: 1000px) {    

    .footer2 {
        width:300px;        
        align-items: center;
    }

    .picture2__img {
        width: 200px;
        height: 200px;
    }

}

@media screen and (max-width:413px) {

    .contenedorPadre2 {
        height: 660px;
    }
    .contenedorFlex2 {
        height: 660px;
    }

    .copyright2 {
      margin: 0%;
      width: auto;
    }

}

