
.body6 {
    display: flex;
    justify-content: center;
    // background-color: rgba(79, 79, 70, 0.734);
    background-color: $body-background;
    margin-top: 1rem;
    margin-bottom: 1rem;
    // background-image: radial-gradient(gray , purple);
    height: 100%;
    
}

.contenedorFlex6 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 60rem;    
    height: auto;    
    background-image: url(../img/contacto/tocado_de_flores.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 0.1rem $background-verde;
    border-radius: 3%;
}

.header6 {    
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: 'Source Serif Pro', serif;
        font-size: 3rem;
        height: 10rem;
        color: $background-verde;                
        margin-top: 1rem;        
    }

}

.main6 {
    margin-bottom: 2rem;   
  
}

.main__form {        
    border: solid 0.1rem $background-verde;    

}

.copyright6 {    
    height: 2rem;
    @extend .copyright;
    margin-top: 3rem;
    margin-left: 0%;
    width: auto;

}

// MOBILE CONTACTO

@media screen and (max-width: 419px) {

    
    .contenedorFlex6 {
        width: auto;
    }

    .header6__title {
        text-align: center;
    }      
}

@media screen and (max-width:379px) {

    .contenedorFlex6 {
        height: 700px;
    }
}