
.body6 {
    display: flex;
    justify-content: center;    
    background-color: $body-background;
    margin-top: 1rem;
    margin-bottom: 1rem;    
    height: 100%;
    
}

.contenedorFlex6 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 60rem;    
    height: auto;    
    background-image: url(../img/contacto/tocado_de_flores.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid 0.1rem $background-verde;    
}

.header6 {    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    

    .aside__menu6 {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        border: solid 0.1rem $body-background;
        background-color: $background-verde;
        
        
        

        li {
            padding: 1%;
        }

        a {
            font-family: 'Source Serif Pro', serif;
            color: rgba(255, 255, 255, 0.884);            
            
            &:hover {
                text-decoration: underline;
            }        
        }
    }

    .header6__title {
        width: 100%;
        font-family: 'Source Serif Pro', serif;
        font-size: 3rem;
        font-weight: bolder;        
        color: $letra-blanca;
        background-color: $background-verde;
        border: solid 0.1rem $body-background;
        padding: 1%;
        margin-bottom: 2%;        
        
    }

}

.main6 {
    margin-bottom: 2rem;
    width: 100%;     
  
}

.main__form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;            
    border: solid 0.1rem $background-verde;
    padding: 2%;
    
    label {
        padding: 1%;
        font-family: 'Source Serif Pro', serif;
        color: rgba(255, 255, 255, 0.884);
    }

    input {
        font-family: 'Source Serif Pro', serif;            
    }

    .inputMargin1 {
        padding: 1%;
    }

    .inputMargin2 {
        padding: 1%;
        background-color: $background-verde;       
    }
}

.copyright6 {    
    height: 2rem;
    @extend .copyright;
    margin-top: 3rem;
    margin-left: 0%;
    width: auto;

}

// MOBILE CONTACTO

@media screen and (max-width: 475px) {

    .header6 {

        .aside__menu6 {       
            flex-flow: column nowrap;
            align-items: center;
        }

    }

    

}

    