
.body6 {
    display: flex;
    justify-content: center;    
    background-color: $body-background;
    margin-top: 1rem;
    margin-bottom: 1rem;    
    height: 100%;
    
}

.contenedorFlex6 {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 60rem;    
    height: auto;    
    background-image: url(../img/contacto/tocado_de_flores.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 0.1rem $background-verde;
    border-radius: 3%;
}

.header6 {    
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    &__title {
        font-family: 'Source Serif Pro', serif;
        font-size: 3rem;
        font-weight: bolder;
        color: $background-verde;
        background-color: $body-background;                
        margin-top: 3%;
        margin-bottom: 5%;       
    }

}

.main6 {
    margin-bottom: 2rem;     
  
}

.main__form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;            
    border: solid 0.1rem $background-verde;
    
    label {
        width: 35rem;
    }
}

.copyright6 {    
    height: 2rem;
    @extend .copyright;
    margin-top: 3rem;
    margin-left: 0%;
    width: auto;

}

// MOBILE CONTACTO

@media screen and (max-width: 500px) {

    
    .contenedorFlex6 {
        width: auto;
    }
   
}