
.body4 {
    background-color: rgba(182, 162, 80, 0.59);
}

.header4 {
    
    .hambur, .hambur__menu, .hambur__input {
        display: none;
    }

    .aside__menu4 {
        border: solid 0.1rem $letra-blanca;
        background-color: $background-verde;
        border-bottom: 0;        
    }
  
    li {
        text-align: center;
    }

    a {
        color: $letra-blanca;
        text-decoration: none;
        font-family: $font-principal;
        

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        width: 100%;    
        color: $letra-blanca;
        font-family: $font-principal;        
        font-size: 1.8rem;
        border: solid 0.1rem $letra-blanca;
        background-color: $background-verde;
        text-align: center;                     
    }

}

.main4 {
    height: auto;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    &__titles {
        width: 100%;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 2%;
        text-align: center;   
        
    }
}

.main4__titles h3 {
    font-family: $font-principal;
    text-decoration: underline;       
    color: $letra-blanca;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 0%;
}

div.card {
    background-color: $letra-blanca;
    
}

h5.card-title {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
    text-decoration: underline;
}

p.card-text {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
}

a.btn.btn-primary {
    font-family: $font-principal;    
    color: $letra-blanca;
    background-color: $background-verde;
    border: $body-background;
    font-size: 1.3rem;
}

.copyright4 {
    @extend .copyright;
    margin-left: 0%;   

}

@media screen and (max-width:723px){

    .header4 {

        .hambur {
            display: flex;
            justify-content: center;
            margin: 0;
            background-color: $background-verde;               

            .hambur__image {
                display: block;
                cursor: pointer;
                padding: 1%;                
            }                          
        }

        .aside__menu4 {                             
            display: none;

            li {
                width: 100%;
            }
        }

        .hambur__input:checked + .aside__menu4 {
            display: flex;                              
            flex-flow: column nowrap;
            align-items: center;           
        }     
  
    }
}