
.body4 {
    background-color: rgba(182, 162, 80, 0.59);
}

.header4 {   
    background-color: $background-verde;
    border: solid whitesmoke 0.2rem;
    text-align: center;

    h2 {
        width: 100%;    
        color: $letra-blanca;
        font-family: $font-principal;
        margin: 0.5%;
        font-size: 1.8rem;                     
    }

}

.main4 {
    height: auto;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    &__titles {
        width: 100%;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 2%;   
        
    }
}

.main4__titles h3 {
    font-family: $font-principal;
    text-decoration: underline;       
    color: $letra-blanca;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 0%;
}

div.card {
    background-color: $letra-blanca;
    
}

h5.card-title {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
    text-decoration: underline;
}

p.card-text {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
}

a.btn.btn-primary {
    font-family: $font-principal;
    color: $letra-blanca;
}

.copyright4 {
    @extend .copyright;
    margin-left: 0%;   

}

@media screen and (max-width:767px){
    
    
}






