
.body3 {    
    background-color: $background-verde;
}

.header3 { 
    width: 100%; 
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: $background-verde;
    border: solid $letra-blanca 0.1rem;
    margin-bottom: map-get($map: $spacings, $key:medium);

    .aside__menu3 {
        width: 100%;
        height: auto;
        padding: 2%;
        background-color: $background-verde;
        border: solid 0.1rem $body-background;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        

        a {
            font-family: 'Source Serif Pro', serif;
            color: rgba(255, 255, 255, 0.884);
            
            &:hover {
                text-decoration: underline;
            }        
        }
    }

    &__title {
        height: 100%;
        padding: 1%;
        text-align: center;    
        font-family: $font-principal;
        font-size: 2.5rem;
        color: $letra-blanca;
        border: solid 0.1rem $body-background;     
        word-spacing: 0.3rem;
        width: 100%;
        background-color: $background-verde;                
    
    }

    .hambur, .hambur__menu, .hambur__input {
        display: none;
    }
}

.main3 {
    width: 100%;
}

.picture3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    &__img1, &__img2, &__img3, &__img4, &__img5, &__img6, &__img7  {
    align-items: center;  
    border: solid 0.1rem $body-background;
    margin: map-get($map: $spacings, $key:medium);
    width: 304px;
    height: 328px;
    }        

}

.copyright3 {
    @extend .copyright;
    margin-left: 0%;
    width: auto;
    margin-bottom: 1%;
}

@media screen and (max-width:647px){
    .picture3__img1, .picture3__img2, .picture3__img3, .picture3__img4, .picture3__img5, .picture3__img6, .picture3__img7 {
        width: 184px;
        height: 200px;                   

    }
}

@media screen and (max-width:437px){
    .picture3__img1, .picture3__img2, .picture3__img3, .picture3__img4, .picture3__img5, .picture3__img6, .picture3__img7 {
        width: 140px;
        height: 150px

    }

    .header3 {

        .hambur {
            display: block;
            margin: 1% auto;               

            .hambur__image {
                display: block;
                cursor: pointer;                
            }
                          
        }

        .hambur__input:checked + .aside__menu3 {
            display: flex;                              
            flex-flow: column nowrap;
            align-items: center;           
        }        
        
        .aside__menu3 {                             
            display: none;

            li {
                margin: 1%;
            }
        }    
    }
}