/* ARCHIVO HTML INDEX */
body {
    background-color: $body-background;
    
}

/* CONTENEDOR GRID */

.contenedorGrid {
    display: grid;
    grid-template-areas: "header header header"
        "aside main   main"
        "aside main   main"
        "footer footer footer";

}

/* HEADER */

.headerIndex {
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(54, 121, 114, 0.789);
    width: 100%;

    .header__logo {
        height: 15rem;    
        margin-left: 0.5rem;
        padding: 0.5rem;
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: 1;    
    }
}

.titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.796);
    margin-left: 15rem;
    

    .header__titulo {
        font-size: 6rem;
        font-family: 'Source Serif Pro', serif;
        letter-spacing: 1rem;    
    }

    .header__subtitle {
        font-style: italic;
        font-family: 'Caveat', cursive;
        font-size: 4rem;
        font-weight: lighter;
        margin-right: 1rem;    
    }    
}


.header__slogan {
    font-style: italic;
    margin-right: 3vw;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.849);
    
}


/* ASIDE MENU */

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 1rem;
    background-color: rgba(54, 121, 114, 0.789);
    height: 39rem;

    h2 {
        font-family: 'Source Serif Pro', serif;
        font-size: 2rem;
        margin-bottom: 2rem;
        color: $letra-blanca;
    }
}

.aside__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;      
  

    li {
        display: flex;
        flex-direction: column;
        align-items: center;        
        font-family: 'Source Serif Pro', serif;
        margin: 0.7rem;    
    
    }

    a {
        font-family: 'Source Serif Pro', serif;
        color: rgba(255, 255, 255, 0.884);
        
        &:hover {
            text-decoration: underline;
        }
    
    }

}

/* MAIN */

.main {
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
    height: 11.4rem;
    

    &__img1, &__img2, &__img3 {
        height: 38rem;
        width: 38rem;
        margin-right: 0.3rem;
    }

}

/* FOOTER */

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90rem;
    height: 2rem;
    margin-top: 2rem;
    margin-left: 24rem;

    &__intagram, &__whatsapp, &__email, &__ubicacion {
        font-family: 'Source Serif Pro', serif;    
        border-bottom: solid black 0.1rem;
        margin-right: 1vw;        
    }

   
    a {
    font-family: $font-principal;
    color: black;     
    }

    a:hover {    
        text-decoration: underline;
    }
}

.copyright {
    display: flex;
    flex-flow: row, wrap;
    justify-content: center;
    align-items: center;    
    margin-top: 3%;          
    font-weight: 300;
    
    
}

/* INDEX MOBILE */

@media screen and (max-width: 1365px) {

    html {
        font-size: 55%;
    }

    .header__logo {
        margin-left: 6rem;
    }
    
    .main {
        height: 350px;
        align-items: center;

    }
    
    .main__img1,
    .main__img2,
    .main__img3 {
        height: 30rem;
        width: 30rem;
        margin-left: 3rem;
        margin-right: 0%;
        
    }
   

    .footer__email, .footer__intagram,
    .footer__ubicacion, .footer__whatsapp {
        margin: 0%;
    }

    
}

@media screen and (max-width: 1179px) {


    .main__img1,
    .main__img2,
    .main__img3 {
        height: 30rem;
        width: 30rem;
        margin-left: 3rem;
    }

    .main__img3 {
        display: none;
    } 
        

}

@media screen and (max-width:1050px) {

    .main__img3 {
        display: none;
    }

}

@media screen and (max-width:995px) {

    .header__logo {
        margin-left: 4rem;
    }


    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height: auto;
        margin-top: 2rem;
        margin-left: 4rem;

    }

    .footer__intagram,
    .footer__whatsapp,
    .footer__email,
    .footer__ubicacion {
        font-family: 'Source Serif Pro', serif;
        border-bottom: none;
        text-decoration: underline;
        margin-top: 1rem;
        margin-left: 4rem;

    }

}

@media screen and (max-width:893px) {


    .headerIndex {
        width: 100%;
        justify-content: flex-start;

    }

    .header__slogan {
        font-style: italic;
        margin-right: 3vw;
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.849);
        display: none;

    }

    .header__logo {
        height: 15rem;
        margin-left: 4rem;
        padding: 0.5rem;

    }


    .main__img1,
    .main__img3 {
        height: 28rem;
        width: 28rem;
        display: none;

    }

    .main__img2 {
        width: 40rem;
        height: 41rem;
        margin-left: 4rem;

    }

    main {
        grid-area: main;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        width: 50rem;


    }

    .footer {
        width: 50rem
    }



@media screen and (max-width:716px) {

    .header__logo {
        margin-left: 0.1rem;
        width: 130px;
        height: auto;
    }

    aside {
        width: auto;
    }

    .aside__menu {
        width: 10px;
    }



    .footer {
        width: 300px;
        margin-left:0%;
    }

    .footer__email, .footer__intagram,
    .footer__ubicacion, .footer__whatsapp {
        margin-left: 1.5rem;
    }

}

@media screen and (max-width:622px) {

    html {
        font-size: 45%;
    }

    .header__logo {
        width: 117px;
        height: auto;
    }

    .main__img2 {
        width: 43rem
    }

    .aside {
        width: 15rem
    }

    .footer__email, .footer__intagram,
    .footer__ubicacion, .footer__whatsapp {
        margin-left: 3.5rem;
    }

    .copyright {
        justify-content: center;
    }
     
}


@media screen and (max-width: 412px) {

    html {
        font-size: 40%;
    }


    .headerIndex {
        justify-content: flex-start;
        flex-wrap: nowrap;            
            
    }

    .header__logo {
        width: 100px;
        height: auto;
        margin: 0%;
        padding: 0%;
    }

    .titleContent {           
        margin-right: 14rem;
        margin-left: 7rem;
    }

    .main__img2 {
        margin: 0%;
        width:100%;
        height: auto;
    }

    .copyright {
        width: 50rem;
        margin-top: 1rem;
        margin-left: 10rem;
        justify-content: flex-end;
        
    }

    .aside__menu a {
        text-align: center;
    }
}
}