/* ARCHIVO HTML INDEX */
body {
    background-color: $body-background;
    
}

/* CONTENEDOR GRID */

.contenedorGrid {
    display: grid;
    grid-template-columns: 172px repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header header header"
                            "aside main   main main"
                            "aside main   main main"
                            "aside footer footer footer"
                            "aside copyright copyright copyright";

}

/* HEADER */

.headerIndex {
    grid-area: header;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(54, 121, 114, 0.789);
    width: 100%;

    .header__logo {
        height: 15rem;        
        margin: 0.7rem;
        margin-bottom: 2%;      
    }
}

.titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: rgba(255, 255, 255, 0.796);
    margin-left: 8%;
    

    .header__titulo {
        font-size: 6rem;
        font-family: 'Source Serif Pro', serif;
        letter-spacing: 1rem;    
    }

    .header__subtitle {
        font-style: italic;
        font-family: 'Caveat', cursive;
        font-size: 4rem;
        font-weight: lighter;
        margin-right: 1rem;    
    }    
}


.header__slogan {
    font-style: italic;
    margin-right: 1%;    
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.849);
    
}


/* ASIDE MENU */

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(54, 121, 114, 0.789);
    height: 39rem;
    width: 17.2rem;

    h2 {
        font-family: 'Source Serif Pro', serif;
        font-size: 2rem;        
        color: $letra-blanca;
    }
}

.aside__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;      
  

    li {
        display: flex;
        flex-flow: column, wrap;
        justify-content: center;
        text-align: center;      
        font-family: 'Source Serif Pro', serif;
        margin: 0.7rem;    
    
    }

    a {
        font-family: 'Source Serif Pro', serif;
        color: rgba(255, 255, 255, 0.884);
        
        &:hover {
            text-decoration: underline;
        }
    
    }

}

/* MAIN */

.main {
    grid-area: main;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top: 1%;        
    height: auto;    
    

    &__img1, &__img2, &__img3 {
        height: 38rem;
        width: 38rem;        
    }

}

/* FOOTER */

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
    width: auto;
    height: 2rem;
    margin-top: 2rem;
    

    &__intagram, &__whatsapp, &__email, &__ubicacion {
        font-family: 'Source Serif Pro', serif;    
        border-bottom: solid black 0.1rem;             
    }

   
    a {
    font-family: $font-principal;
    color: black;     
    }

    a:hover {    
        text-decoration: underline;
    }
}

.copyright {
    grid-area: copyright;
    display: flex;
    flex-flow: row, nowrap;
    justify-content: center;        
    margin-top: 5%;            

}

/* INDEX MOBILE */

@media screen and (max-width: 1311px) {
    
    .main__img1, .main__img2, .main__img3 {
        width: 33rem;
    }

    .footer {
        justify-content: space-between;
    }

}

@media screen and (max-width:1165px){
    .main__img1 {
        display: none;
    }

    .main__img2, .main__img3 {
        width: 38rem;
        justify-content: center;
    }
}

@media screen and (max-width:933px){

    .contenedorGrid {
        display: grid;        
        grid-template-areas: "header header header header"
                                "aside aside aside aside"
                                "main main   main main"
                                "footer footer footer footer"
                                "copyright copyright copyright copyright";
    
    }

    .headerIndex {
        justify-content: center;
    }

   .titleContent {
       margin-left: 0%;
       margin-bottom: 3%;
       margin-top: 1%;       
   }

    .header__slogan {
        display: none;
    }  

    .header__logo {
        display:  none;
    }

    .aside {
        width: 100%;
        height: auto;
        flex-direction: row;              
        

        h2 {
            display: none;
        }

        .aside__menu {
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            border: solid 0.1rem $letra-blanca;           

        }

}

@media screen and (max-width: 759px){    
 
    .main__img3 {
        display: none;
    }

    .main__img2 {
        width: 43rem;
    }

}

@media screen and (max-width:429){

}
}