
.body5 {
    background-color: rgba(109, 104, 99, 0.823);
}

.header5 {

    .hambur, .hambur__menu, .hambur__input {
        display: none;
    }

    .aside__menu5 {
        border: solid 0.1rem $letra-blanca;
        background-color: $background-verde;
        border-bottom: 0;
    }
  
    li {
        text-align: center;
    }

    a {
        color: $letra-blanca;
        text-decoration: none;
        font-family: $font-principal;
        

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        width: 100%;    
        color: $letra-blanca;
        font-family: $font-principal;        
        font-size: 1.8rem;
        border: solid 0.1rem $letra-blanca;
        background-color: $background-verde;
        text-align: center;                     
    }

}    


.main5 {
    height: auto;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__titles {
        width: 100%;
        height: auto;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 2%; 
    }
    
    .main5__titles h3 {
        width: 100%;
        height: auto;
        font-family: $font-principal;
        text-decoration: underline;       
        color: $letra-blanca;
        font-size: 3rem;
        letter-spacing: 0.3rem;
        margin: 0%;
    }

}

div.card {
    background-color: $letra-blanca;
    
}

h5.card-title {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
    text-decoration: underline;
}

p.card-text {
    font-family: $font-principal;
    color: rgb(148, 129, 129);
}

a.btn.btn-primary {
    font-family: $font-principal;
    color: $letra-blanca;
}

.copyright5 {
    @extend .copyright;
    margin-left: 0%;
    margin-right: 0%;    
}

@media screen and (max-width:723px){

    .header5 {

        .hambur {
            display: flex;
            justify-content: center;
            margin: 0;
            background-color: $background-verde;               

            .hambur__image {
                display: block;
                cursor: pointer;
                padding: 1%;                
            }                          
        }

        .aside__menu5 {                             
            display: none;

            li {
                width: 100%;
            }
        }

        .hambur__input:checked + .aside__menu5 {
            display: flex;                              
            flex-flow: column nowrap;
            align-items: center;           
        }        
    }
}