
@mixin flex ($display: flex, $direction: row, $wrap: nowrap, $justify: center, $align: center) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}