html {
    font-size: 62.5%;
}

/* GLOBALS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
}

