
$background-verde: #367972c9;
$body-background: #ddddc5;
$font-principal: 'Source Serif Pro', serif;
$letra-blanca: rgba(255, 255, 255, 0.796);
$spacings: (
small: 0.5rem,
medium: 1rem,
large: 2rem,
 );